#container {

  #about-stats  {
    margin: 20px 0;
    max-width:100%;

    @include media-breakpoint-up(md) {
      margin: 50px 0;
    }

    @include media-breakpoint-up(lg) {
      margin: 150px 0 100px 0;
    }

    @include media-breakpoint-up(xl) {
      overflow: hidden;
      margin: 0 0 50px 0;
      padding: 150px 0;
    }

    #stat-wrapper {

      @include media-breakpoint-up(md) {
        max-width: none !important;
        @include flexbox();
        @include justify-content(flex-end);
      }

      h2 {
        font-size: 2rem;
        margin-bottom:0;

        @include media-breakpoint-up(md) {
          font-size: 3rem;
        }

        @include media-breakpoint-up(lg) {
          font-size: 4rem;
        }

      }

      #stats {
        text-align:center;

        @include media-breakpoint-up(md) {
          text-align:left;
          @include flex(0 33.33%);
        }

        .stat-item {
          position: relative;

          .line {
            display:none;

            @include media-breakpoint-up(md) {
              display:block;
              width:100%;
              height:100%;
              top:50%;
              left: -110%;
              position:absolute;
            }

            &:after {
              content:'';
              display:block;
              width:16px;
              height:16px;
              border-radius:30px;
              background:white;
              position:absolute;
              right:-5px;
              top:-8px;
            }

            object {
              width:100%;
            }

          }

          &:first-child {
            .line {
              &:after {
                border:2px solid #2196F3;
              }
            }
          }

          &:nth-child(2) {
            .line {
              &:after {
                border:2px solid #F5A523;
              }
            }
          }

          &:last-child {

            .line {
              top:0;

              &:after {

                @include media-breakpoint-up(md) {
                  top: 2vw;
                  border:2px solid #00C853;
                }

                @include media-breakpoint-up(lg) {
                  top: 2.2vw;
                }

                @include media-breakpoint-up(xl) {
                  top: 2.3vw;
                }

              }

            }

          }

        }

      }

      #stat-image {
        border-radius:6px;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
        margin: 30px;

        @include media-breakpoint-up(md) {
          right: 0;
          margin:0;
          transform: scale(1,1);
          transform-origin: left;
          @include flex(0 33.33%);
        }

        @include media-breakpoint-up(xl) {
          transform: scale(1.5,1.5);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: left;
        }

      }

    }

  }

}
