.single-post {

  #circles {
    display:none;
  }

  #banner {
    padding-bottom:120px;

    .post-edit-link {
      color:white;
    }

    h1 {
      font-size: 2rem;

      @include media-breakpoint-up(md) {
        font-size: 2.5rem;
        margin-bottom:30px;
      }

    }

    .author {
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);

      .avatar {
        width: 50px;
        height: 50px;
        margin-right:10px;
      }

      span {
        @include flexbox();
        @include flex-direction(column);
        text-align: left;
        color:white;

        a {
          color:white;
        }
      }

    }

  }

  #featured-image {
    max-height: 400px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top:-100px;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  #article-content {
    margin:50px auto 30px auto;
    @include media-breakpoint-up(md) {
      margin:80px auto 50px auto;
      max-width: 70%;
    }
  }

  #comments {
    display:none;
  }

  #container {

    #article-content {
      p {
        font-size: 1rem;
        margin-bottom: 2rem;
        line-height: 2rem;

        &.has-medium-font-size {
          font-size: 1.25rem;
        }

      }

      .wp-block-pullquote {
        position:relative;
        padding: 0 50px;
        margin: 50px 0;
        clear:both;

        @include media-breakpoint-up(md) {
          margin: 80px 0;
        }

        &:before,&:after {
          content:'';
          display:block;
          width:20px;
          height:20px;
          background: url('img/icons/quote.svg')no-repeat;
          background-size:contain;
          position:absolute;

          @include media-breakpoint-up(md) {
            width:30px;
            height:30px;
          }

        }

        &:before {
          top:0;
          left:0;
          text-align:left;
        }

        &:after {
          bottom:0;
          right:0;
          text-align:right;
          transform: rotate(180deg);
        }

        p {
          font-size: 1.2rem;
          line-height: 2rem;

          @include media-breakpoint-up(md) {
            font-size: 1.4rem;
            line-height: 2.2rem;
          }

        }

      }

      .stats {
        &.align-l {
          margin-left:0;
        }
        &.align-r {
          margin-right:0;
        }
      }

    }

    #related-posts {
      margin-bottom:100px;
      @include media-breakpoint-up(md) {
        margin: 0 auto;
        max-width:90%;
      }
      @include media-breakpoint-up(lg) {
        max-width:80%;
      }
    }

  }

  #article-info {
    clear:both;
    text-align: center;

    > div {
      display: inline-block;
      border-top: 1px solid #D8D8D8;
      width: auto;
      min-width: 200px;
      margin: 0 auto;
      padding:50px 0;

      @include media-breakpoint-up(md) {
        min-width: 500px;
      }

    }

    .tags {
      margin-bottom:30px;
    }

    .author {
      a {color:$black;}
      .avatar {
        width:50px;
        height:50px;
        border-radius:50px;
      }
    }

  }


}
