.page-template-basic-page {

  #circles {
    display:none;
  }

  #container {

    .wp-block-atomic-blocks-ab-container {
      padding: 50px 0;
      max-width:100%;

      @include media-breakpoint-up(md) {
        padding: 80px 0;
      }

      &.bg {
        background: #F8FAFB !important;
      }

      .ab-container-inside {
        width: 100%;

        @include media-breakpoint-up(md) {
          max-width:90%;
          margin:0 auto;
        }

        @include media-breakpoint-up(lg) {
          max-width:80%;
        }

        @include media-breakpoint-up(xl) {
          max-width:70%;
        }

      }

      .wp-block-media-text {
        @include media-breakpoint-up(md) {
          margin:100px 0;
        }
      }

    }

    .wp-block-image img {
        object-fit: contain;
    }

  }

}
