.page-template-contact {

  #container {

    #banner {
      margin-bottom: 50px;

      @include media-breakpoint-up(md) {
        margin-bottom: 100px;
      }
    }

    #contact-info {

      @include media-breakpoint-up(md) {
        padding-top: 50px;
        float: left;
        width: 40%;
        padding-left: 5%;
        padding-right:100px;
      }

      @include media-breakpoint-up(lg) {
        padding-left: 15%;
      }

      #details {
        a {
          display:block;
          font-size:1.7rem;
          font-weight:600;
          color:$black;
          margin:10px 0;

          @include media-breakpoint-up(md) {
            font-size:2rem;
          }
        }

        #address {
          display:block;
          color:#4A4A4A;
          margin:20px 0 30px 0;
        }

      }

      #social-links {
        list-style:none;
        padding:0;
        margin:0;

        li {
          display: inline-block;
          margin:0 7px;

          &:first-child {
            margin-left:0;
          }

          &:last-child {
            margin-right:0;
          }

        }

        a {
          @include flexbox();
          @include justify-content(center);
          @include align-items(center);
          width: 50px;
          height: 50px;
          background: white;
          border-radius: 50px;
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);

          span {
            display: block;
            width: 25px;
            height: 25px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }

          }

        }

      }

    }

    #map {
      min-height: 400px;
      position:relative;
      margin-top:50px;
      max-width:100%;

      @include media-breakpoint-up(md) {
        margin-top: 0;
        top:-100px;
        clear:both;
      }

      @include media-breakpoint-up(lg) {
        top:-150px;
      }

      @include media-breakpoint-up(xl) {
        top:-200px;
      }

      iframe {
        height: 100%;
        min-height: 600px;
        position:relative;
        bottom: 0;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
      }

    }

  }

  footer {
    @include media-breakpoint-up(md) {
      margin-top:-100px;
    }
    @include media-breakpoint-up(lg) {
      margin-top:-150px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -206px;
    }
  }

}
