#footer {
  clear: both;
  background:#1C2A49;
  padding: 50px 0;
  max-width: 100%;

  #newsletter,#cta-form {
    border-bottom:1px solid #314673;
    margin-bottom: 50px;

    > div {
      padding:0 20px;
      @include media-breakpoint-up(md) {
        padding:0;
      }
      color:white;
      margin-bottom:50px;
      text-align:center;

      h3 {
        margin-bottom: 20px;
      }

      span {
        color:#B7CEFF;
      }

    }

    .wpforms-container {
      margin:30px 0;

      .wpforms-field-container {
        display: inline-block;
      }

      label {
        display:inline-block;
        margin:0 0 15px 0;
        @include media-breakpoint-up(md) {
          margin:0 10px 0 0;
        }
      }

      input[type=email],input[type=text] {
        display: block;
        margin: 0 auto;
        border: none;
        border-radius: 30px;
        padding: 7px 15px;
        background: #0E192F;
        color: white;
        border: 2px solid #0E192F;
        width: 300px;
        min-height: 44px;

        @include media-breakpoint-up(md) {
          display: inline-block;
          margin-right: -25px;
        }

        &:focus {
          outline:none;
          border:2px solid #314673;
        }

      }

      .wpforms-submit-container {
        @include media-breakpoint-up(md) {
          display:inline-block;
          padding:0;
        }
      }

      button {
        display:inline-block;
        background:#1c2a49;
        border:2px solid #314673;
        color:white;
        border-radius: 30px;
        padding: 7px 20px;
        margin:0;

        &:hover,&:active,&:focus {
          background:darken( #1c2a49, 5% );
        }

      }

    }

    .wpforms-confirmation-container-full {
      max-width: 200px;
      margin: 20px auto;
      border-radius: 30px;
    }

    #mc_embed_signup {
      margin:30px 0;

      #mc_embed_signup_scroll {
        margin:0 auto;
        position:relative;
        width: 100%;

        @include media-breakpoint-up(md) {
          width: 440px;
        }

        .mc-field-group {
          margin:0;
          text-align: left;

          label {
            display: block;
            margin: 0 0 10px 0;
            text-align:center;

            @include media-breakpoint-up(md) {
              display:inline-block;
              margin:0 10px 0 0;
              text-align:left;
            }

          }

          input {
            display: block;
            margin:0 auto 20px auto;
            border:none;
            border-radius:30px;
            padding:7px 15px;
            background:#0E192F;
            color:white;
            border:2px solid #0E192F;
            width: 220px;

            @include media-breakpoint-up(md) {
              display:inline-block;
              margin:0;
            }

            &:focus {
              outline:none;
              border:2px solid #314673;
            }

            &.mce_inline_error {
                border: 2px solid #a80000 !important;
            }

          }

        }

        #mc-embedded-subscribe {
          background:#1c2a49;
          border:2px solid #314673;
          color:white;
          border-radius: 30px;
          padding: 7px 20px;
          margin:0;

          @include media-breakpoint-up(md) {
            position:absolute;
            top:0;
            right:0;
            float:right;
          }

          &:hover,&:active,&:focus {
            background:darken( #1c2a49, 5% );
          }

          &:after {
            content:'';
            display:inline-block;
            width:12px;
            height:12px;
            margin-left:8px;
            position:relative;
            top:2px;
            background: url('img/icons/arrow-white.svg');
            background-size:contain;
            background-repeat:no-repeat;
          }

        }

        #mce-responses {
          margin: 20px;
        }

        div.mce_inline_error {
          display: block;
          background: #a80000;
          border-radius: 20px;
          padding: 5px 15px;
          margin-top: 20px;
        }

      }

    }

  }

  #footer-content {
    text-align: center;

    @include media-breakpoint-up(md) {
      @include flexbox();
      max-width:90%;
      margin:0 auto;
      text-align: left;
    }

    @include media-breakpoint-up(xl) {
      max-width:70%;
    }

    .menu-footer-menu-container {
      margin-top:30px;
      @include media-breakpoint-up(md) {
        margin-top:0;
        width:100%;
      }
    }

    ul#menu-footer-menu {
      padding:0;
      margin:0;
      list-style:none;

      @include media-breakpoint-up(md) {
        @include flexbox();
        @include justify-content(space-around);
      }

      > li {
        margin-bottom:25px;

        &:last-child {
          margin-bottom:0;
        }

        @include media-breakpoint-up(md) {
          margin-bottom:0;
          &:last-child {
            margin-bottom:0;
          }
        }

      }

      a {
        color:white;
      }

      > li > a {
        display:block;
        color:#9BB7F3;
        text-transform:uppercase;
        font-weight: 600;
        letter-spacing: 0.04rem;
        font-size: 0.85rem;
        margin-bottom:15px;
      }

      ul {
        padding:0;
        list-style:none;

        li a {
          padding: 8px 0;
        }

      }

    }

  }

  &.footer-lander {

    #footer-content {
      color:white;
      text-align: center;

      > div {
        margin:0 auto;
      }

      > div > span {
        padding:0 30px;
        display: inline-block;
        margin: 20px 0;

        @include media-breakpoint-up(lg) {
          width: 60%;
          padding:0;
        }

      }

      #cta-form {
        border:none;
        margin:0;
        padding:0 30px;

        @include media-breakpoint-up(lg) {
          padding:0 20px;
        }

      }

      .wpforms-container {

        form {

          @include media-breakpoint-up(lg) {
            @include flexbox();
          }

        }

        .wpforms-field-container {
          width: 100%;

          @include media-breakpoint-up(lg) {
            @include flexbox();
            @include justify-content(space-around);
          }

          .wpforms-field {
            @include flexbox();
            @include flex-direction(column);
            text-align:left;
            width:100%;
            margin: 0 0 15px 0;
            padding: 0;
            position:relative;

            @include media-breakpoint-up(lg) {
              margin: 0 20px;

              &:first-child {
                margin-left:0;
              }
            }


            label {
              margin: 0 0 10px 0px;

              &.wpforms-error{
                position: absolute;
                bottom: 45px;
                right: 0;
                color:$red;
              }
            }

            input[type=email],input[type=text] {
              display: block;
              min-width: 100%;
              width:100%;
              margin:0;
            }

          }

        }

        .wpforms-submit-container {
          text-align: right;
          margin: 20px 0 0 0;
          width: 100%;

          @include media-breakpoint-up(lg) {
            @include flexbox();
            @include align-items(flex-end);
            margin:0;
            width:auto;
          }
        }

        button {
          white-space: nowrap;
        }

      }

    }

  }

}

#copyright {
  background:#0E192F;
  color:white;
  padding:20px 0;
  text-align:center;
  max-width: 100%;

  span {
    @include media-breakpoint-up(md) {
      text-align:right;
    }
  }

}

.page-template-landing-page {

  #copyright {

    > div {
      max-width: 90%;
      margin: 0 auto;

      @include media-breakpoint-up(md) {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
      }

    }

    #footer-logo {
      margin:20px 0;
    }

  }

}
