.page-template-green {

  #banner {
    @include linearGradient(#DBFFF7, #429321);
  }

  #circles {

    span {
      &:first-child {
        background:#82F2D9;
      }

      &:nth-child(2) {
        background:#82F2D9;
        opacity:0.1;
      }

      &:nth-child(3) {
        background:#82F2D9;
        opacity:0.1;
      }

      &:nth-child(5) {
        background:#82F2D9;
      }

    }

  }

}
