.page-template-homepage {

  #banner {
    padding-bottom: 100px;

    @include media-breakpoint-up(md) {
      padding-bottom: 180px;
    }
  }

  .wp-block-media-text {
    h6 {
      margin-bottom:15px;
    }
  }

  #container .wp-block-video.alignfull,#container .wp-block-image.alignfull {
    margin-top:50px;
    margin-bottom:50px;
    position:relative;
    max-width:100%;
    width: 100%;
    text-align:center;

    &:before {
      content:'';
      display:block;
      width:100%;
      height: 10px;
      background:transparent;
      position:absolute;
      bottom:0;
      z-index:1;
      box-shadow: inset 0 -3px 4px 0px rgba(0, 0, 0, 0.15);
    }

    &:after {
      content:'';
      display:block;
      width:100%;
      height: 1000px;
      background:#F8FAFB;
      position:absolute;
      bottom:0;
      z-index:-1;
    }

    video,img {
      max-height: 500px;
      object-fit: cover;
      object-position: top;
    }

    img {
      max-width: 90%;
      width: 100%;
      height: auto;
      border-radius: 6px;
      box-shadow: 1px -2px 4px 0px rgba(0, 0, 0, 0.10);
      border-radius: 6px 6px 0 0;

      @include media-breakpoint-up(lg) {
        max-width: 80%;
        margin: 0 auto;
      }

      @include media-breakpoint-up(xl) {
        max-width: 70%;
      }

    }

  }

}

#container {
  .wp-block-columns.solution-blocks {
    margin-top: -50px;
    margin-bottom: 50px;

    @include media-breakpoint-up(md) {
      margin: -120px auto 90px auto;
    }

    h2 {
      font-size: 1.4rem;
      margin-bottom:15px;

      @include media-breakpoint-up(lg) {
        font-size: 1.6rem;
        margin: 20px 0;
      }

    }

    p {
      margin-bottom: 0;
    }

   .wp-block-column {
     box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
     margin:0;
     border-radius:6px;
     text-align:center;
     padding:30px;
     background:white;
     margin:0 15px 15px 15px !important;
     position:relative;

     @include media-breakpoint-up(md) {
       @include transition(all 0.4s ease);

       &:hover {
         transform: scale(1.01);
         @include transition(all 0.4s ease);
       }

     }

     a:before {
       content:'';
       display:block;
       width:100%;
       height:100%;
       position:absolute;
       top:0;
       left:0;
     }

     .wp-block-button {
       margin-bottom:0;
     }

   }

  }

  #posts {
    p {
      display:none;
    }
  }

}
