.careers {

  #banner {
    padding-bottom:50px;

      @include media-breakpoint-up(md) {
        padding-bottom:70px;
      }

  }

  .author {
    img {display:none;}
    span a {display:none;}
    time {
      &:before {
        content:'Added:';
        margin-right:5px;
      }
    }
  }

  #article-info {
    display:none;
  }

}
