.page-template-landing-page {

  #header #menu {
    display:none;

    @include media-breakpoint-up(md) {
      display:block;
      padding: 0 50px;
    }

    @include media-breakpoint-up(lg) {
      padding: 0 0 0 100px;
    }

  }

  #container {

    > h1, > h2  {
      margin-bottom:30px;
      padding-top: 150px; margin-top: -150px;
    }

    h1,h2,h3,h4 {
      > a {
        margin-bottom:30px;
        padding-top: 150px; margin-top: -150px;
      }
    }

    > p {
      @include media-breakpoint-up(lg) {
        padding:0 150px;
      }
    }

    #banner {
      overflow:hidden;
      position:relative;

      > div {
        max-width:90%;
        margin:0 auto;
        z-index: 1;
        position: relative;

        @include media-breakpoint-up(lg) {
          max-width:80%;
          margin:0 auto;
        }

        @include media-breakpoint-up(xl) {
          max-width:70%;
          margin:0 auto;
        }
      }

      h2 {
        opacity:1;
      }

      #banner-text p {
        color:white;
        opacity: 0.8;
        margin: 30px 0 0 0;
      }

      #banner-circles {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index:0;
        max-width: 100%;

        span {
          display:block;
          width:500px;
          height:500px;
          border-radius:100%;
          opacity:0.2;
          background: rgb(2,142,188);
          background: linear-gradient(120deg, rgba(2,142,188,1) 0%, rgba(9,108,155,1) 100%);
          -webkit-transform-origin: center;
          -ms-transform-origin: center;
          transform-origin: center;
          -webkit-animation: pulse 10s ease-in-out infinite alternate;
          animation: pulse 10s ease-in-out infinite alternate;

          @-webkit-keyframes pulse {
              0% {
                  -webkit-transform: scale(1.0);
              }
              100% {
                  -webkit-transform: scale(1.3);
              }
          }

          @keyframes pulse {
              0% {
                  transform: scale(1.0);
              }
              100% {
                  transform: scale(1.3);
              }
          }

          &:first-child {
            position:absolute;
            width:100px;
            height:100px;
            top:20%;
            left:80%;
            animation-delay: 10s;
            -webkit-animation: pulse 20s ease-in-out infinite alternate;
            animation: pulse 20s ease-in-out infinite alternate;

            @include media-breakpoint-up(md) {
              width:300px;
              height:300px;
              top:0;
              left:90%;
            }

          }

          &:nth-child(2) {
            position:absolute;
            width:50px;
            height:50px;
            top:35%;
            left:80%;
            animation-delay: 4s;
            -webkit-animation: pulse 5s ease-in-out infinite alternate;
            animation: pulse 5s ease-in-out infinite alternate;

            @include media-breakpoint-up(md) {
              width:200px;
              height:200px;
              top: 25%;
              left: 60%;
            }

          }

          &:nth-child(3) {
            position:absolute;
            width:200px;
            height:200px;
            top:40%;
            left:-10%;
            animation-delay: 6s;
            -webkit-animation: pulse 15s ease-in-out infinite alternate;
            animation: pulse 15s ease-in-out infinite alternate;

            @include media-breakpoint-up(md) {
              width:600px;
              height:600px;
              top:40%;
              left:-30%;
            }

          }

          &:nth-child(4) {
            position:absolute;
            width:300px;
            height:300px;
            top:-150px;
            left:-20%;
            animation-delay: 2s;
            -webkit-animation: pulse 15s ease-in-out infinite alternate;
            animation: pulse 15s ease-in-out infinite alternate;

            @include media-breakpoint-up(md) {
              width: 400px;
              height: 400px;
              top: -120px;
              left: 0;
            }

          }

          &:nth-child(5) {
            position:absolute;
            width:300px;
            height:300px;
            top:80%;
            left:80%;
            animation-delay: 3s;
          }

        }

      }

    }

    #banner-content {
      padding: 50px 0 0 0;

      @include media-breakpoint-up(md) {
        @include flexbox();
      }

      .wpforms-container {
        color:$black;
        text-align:left;
        width:100%;
        margin:0;
      }

      .wpforms-field-number-slider-hint {
        font-size: 26px;
        text-align: center;
      }

      .wpforms-confirmation-scroll {
       width: 100%;
        margin: 0 auto;
        float: none;
        border: 0;
        box-shadow: none;
        font-size: 24px;
        padding: 1em;
        text-align: center;
      }

      .checks {
        margin-bottom:50px;

        @include media-breakpoint-up(md) {
          margin-bottom:0;
          padding-right: 50px;
        }

      }

    }

    .checks {
      padding-top: 30px;

      h3 {
        margin-bottom:40px;
        text-align: left;
      }

      ul {
        list-style:none;
        padding:0;
        text-align: left;

        li {
          position:relative;
          padding-left:55px;
          margin-bottom: 40px;

          &:last-child {
            margin-bottom:0;
          }

          h4 {
            margin-bottom:15px;
          }

          p {
            color:white;
            margin-top:0;
          }

          &:before {
            content:'';
            display:block;
            width:34px;
            height:34px;
            background: url('img/icons/check-green.svg');
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0 auto;
            position:absolute;
            top:0;
            left:0;
          }

        }

      }

    }

    .wp-block-columns {
      margin-top: 50px;

      h2 {
        margin-bottom:15px;
        font-size:1.8rem;

        &.icon {
          @include flexbox();
          @include align-items(center);

          @include media-breakpoint-up(md) {
            @include flex-direction(column);
            margin-bottom:10px;
          }

          @include media-breakpoint-up(lg) {
            @include flex-direction(row);
            margin-bottom:10px;
          }

          &:before {
            content:'';
            display:inline-block;
            width:40px;
            height:40px;
            margin:0 20px 0 0;

            @include media-breakpoint-up(md) {
              margin:0 0 15px 0;
            }

            @include media-breakpoint-up(lg) {
              margin:0 20px 0 0;
            }

          }

          &.publishers:before {
            background: url('img/icons/publishers-icon.svg');
            background-repeat: no-repeat;
            background-size:contain;
          }

          &.agencies:before {
            background: url('img/icons/agencies-icon.svg');
            background-repeat: no-repeat;
            background-size:contain;
          }

          &.advertisers:before {
            background: url('img/icons/advertisers-icon.svg');
            background-repeat: no-repeat;
            background-size:contain;
          }

        }

      }

    }

  }

  #circles {

    span {
      &:first-child {
        background:#FCE7BE;
      }

      &:nth-child(2) {
        background:#82F2D9;
        opacity:0.1;
      }

      &:nth-child(3) {
        background:#DBBEFF;
        opacity:0.1;
      }

      &:nth-child(5) {
        background:#E0FCF5;
      }

    }

  }


}
