html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
  top:0;
  width:100%;

  @include media-breakpoint-up(md) {
    position:relative;
  }

}

p {
  color:#4A4A4A;
}

.capitalise {
  color: $blue;
  text-transform: uppercase;
  font-family:$font-family-pro;
}

h1,h2,h3,h4,h5,h6 {
  font-family:$font-family-pro;
}

#wrapper {
  @include media-breakpoint-up(md) {
    padding-top: 135px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 96px;
  }
}

#container {
  padding-top:60px;

  @include media-breakpoint-up(md) {
    padding-top:0;
  }

  > * {
    max-width:90%;
    margin:0 auto;

    @include media-breakpoint-up(lg) {
      max-width:80%;
      margin:0 auto;
    }

    @include media-breakpoint-up(xl) {
      max-width:70%;
      margin:0 auto;
    }

  }

  > p {
    margin-bottom: 1rem;
    @include media-breakpoint-up(md) {
      font-size: 1.3rem;
    }
  }

  h2 {
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
    }

  }

  h4 {
    margin-bottom: 30px;
  }

}

#banner {
  @include linearGradient(#0096C4, #153061);
  color:white;
  text-align:center;
  padding: 50px 0 70px 0;
  max-width:100%;

  #banner-text{
    margin:0 auto;
    max-width: 90%;
    width: 100%;

    @include media-breakpoint-up(lg) {
      max-width: 80%;
      margin: 0 auto;
    }

    @include media-breakpoint-up(xl) {
      max-width: 70%;
    }

  }

  h1 {
   margin:0;
   font-size: 2rem;
    @include media-breakpoint-up(md) {
      font-size: 2.5rem;
    }
  }

  h2 {
   opacity: 0.8;
   font-weight:$font-weight-light;
   font-size:1.4rem;
   margin:30px 0 0 0;
  }

  &.banner-image {
    padding-bottom: 120px;
    margin:0;
  }

}

#container {
  #banner {
    max-width:100%;
  }
}

#banner-feature-image {
  width: 100%;
  margin-top: -70px;
  margin-bottom: 50px;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: calc(100% + 20px);
    left: -10px;
    height: 10px;
    position: absolute;
    bottom: -10px;
    border-top: 1px solid #d8d8d8;

    @include media-breakpoint-up(md) {
      width: calc(100% + 100px);
      left: -50px;
    }

  }

  .banner-image {
    display: block;
    width:100%;
    object-fit:cover;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.15);
  }

}

#container hr.wp-block-separator {
  max-width:50%;
  border-color:#D8D8D8;
  margin:50px auto;

  @include media-breakpoint-up(md) {
    margin:100px auto;
  }

  &.is-style-wide {
    max-width:80%;
  }

}




.wp-block-spacer {
  max-height:50px !important;
  @include media-breakpoint-up(md) {
    max-height:100% !important;
  }
}



#circles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index:-1;

  span {
    display:block;
    width:500px;
    height:500px;
    border-radius:100%;
    opacity:0.2;


    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: pulse 10s ease-in-out infinite alternate;
    animation: pulse 10s ease-in-out infinite alternate;

    @-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(1.0);
        }
        100% {
            -webkit-transform: scale(1.3);
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1.0);
        }
        100% {
            transform: scale(1.3);
        }
    }

    &:first-child {
      position:absolute;
      width:100px;
      height:100px;
      top:0;
      left:80%;
      background:#CFE0BB;
      -webkit-animation: pulse 10s ease-in-out infinite alternate;
      animation: pulse 10s ease-in-out infinite alternate;

      @include media-breakpoint-up(md) {
        width:300px;
        height:300px;
        top:0;
        left:50%;
      }

    }

    &:nth-child(2) {
      position:absolute;
      width:50px;
      height:50px;
      top:35%;
      left:80%;
      background:#FCE7BE;
      animation-delay: 4s;
      -webkit-animation: pulse 5s ease-in-out infinite alternate;
      animation: pulse 5s ease-in-out infinite alternate;

      @include media-breakpoint-up(md) {
        width:200px;
        height:200px;
        top:35%;
        left:80%;
      }

    }

    &:nth-child(3) {
      position:absolute;
      width:200px;
      height:200px;
      top:40%;
      left:-30%;
      background:#82F2D9;
      animation-delay: 4s;
      -webkit-animation: pulse 15s ease-in-out infinite alternate;
      animation: pulse 15s ease-in-out infinite alternate;

      @include media-breakpoint-up(md) {
        width:600px;
        height:600px;
        top:40%;
        left:-30%;
      }

    }

    &:nth-child(5) {
      position:absolute;
      width:300px;
      height:300px;
      top:80%;
      left:80%;
      background:#DBBEFF;
      animation-delay: 3s;
    }

  }

}

.no-shadow {
  box-shadow:none !important;

  > * {
    box-shadow:none !important;
  }

}

.privacy-policy #container>p{
  font-size: 1em;
  line-height: 1.7em;
}
