#header {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height:60px;
  background:white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  z-index: 10;

  @include media-breakpoint-up(md) {
    height: 135px;
  }

  @include media-breakpoint-up(lg) {
    height:96px;
  }

  #contents {
    @include flexbox();
    @include align-items(center);
    text-align: center;
    height: 100%;

    @include media-breakpoint-up(md) {
      @include flex-direction(column);
      text-align:left;
      height: 100%;
      padding: 0 30px;
    }

    @include media-breakpoint-up(lg) {
      @include flex-direction(row);
      padding:0;
      max-width: 90%;
      margin: 0 auto;
    }

    @include media-breakpoint-up(xl) {
      max-width: 80%;
    }

  }

  #logo {
    display: inline-block;
    margin: 0 auto;
    text-align:center;

    @include media-breakpoint-up(lg) {
      margin:0;
      @include align-items(center);
      @include align-self(center);
    }

    img {
      width: 140px;

      @include media-breakpoint-up(md) {
        margin:20px 0;
      }
      @include media-breakpoint-up(lg) {
        width: 160px;
      }
    }

  }

  #menu {
    position: fixed;
    right: 17px;
    top: 16px;

    @include media-breakpoint-up(md) {
      position:relative;
      top: 0;
      right:0;
      width:100%;
      height: initial;
      margin:0 auto;
    }

    @include media-breakpoint-up(lg) {
      height: 100%;
      padding:0 0 0 50px;
    }

    #nav-icon {
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      right: 0;
      top: 0;
      background: white;
      border: none;
      outline: none;
      overflow:hidden;

      @include media-breakpoint-up(md) {
        display:none;
      }

    }

    #nav-icon:after,
    #nav-icon:before,
    #nav-icon div {
      background-color: $black;
      border-radius: 6px;
      content: '';
      display: block;
      height: 2px;
      margin: 6px 0;
      transition: all .2s ease-in-out;
    }

    #nav-icon.active:before {
      transform: translateY(8px) rotate(135deg);
    }

    #nav-icon.active:after {
      transform: translateY(-8px) rotate(-135deg);
    }

    #nav-icon.active div {
      transform: scale(0);
    }

    .menu-top-navigation-container {
      position: fixed;
      top: 60px;
      background: $dark-blue;
      width: 100%;
      height: calc(100% - 60px);
      left:-100%;
      transition: left 0.4s ease-in-out;

      @include media-breakpoint-up(md) {
        left:0 !important;
        top:0;
        position:relative;
        background:none;
        height:100%;
        transition-property:none;
      }

      #menu-top-navigation {
        padding: 10% 30px;
        list-style: none;
        margin:0;
        text-align: left;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: auto;
        @include flexbox();
        @include align-items(flex-start);
        @include justify-content(flex-start);
        @include flex-direction(column);

        @include media-breakpoint-up(md) {
          position:relative;
          width:initial;
          height:100%;
          text-align:center;
          padding:0;
          @include flex-direction(row);
          @include justify-content(space-between);
          overflow: inherit;
          @include align-items(center);
        }

        > li > .sub-menu {
          display:none;
          padding:0;
          list-style:none;
          margin:10px 0 0 0;
          background: white;
          text-align: left;
          border-radius:6px;
          overflow: hidden;

          @include media-breakpoint-up(md) {
            display:block;
            visibility: hidden;
            transition: 0.4s 0.5s;
            opacity:0;
            min-width: 270px;
            box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
            margin-top: 35px;
            margin-left: -25px;
          }

          @include media-breakpoint-up(lg) {
            margin-top: 15px;
          }

          div.icon {
            @include flexbox();
            @include align-items(center);
            float: left;
            width:40px;
            height:40px;
            border-radius:30px;
            background:white;
            box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);

             img {
               margin: 0 auto;
             }

          }

          li {
            margin:0;
            padding: 15px 20px;
            background: white;
            overflow: hidden;

            @include media-breakpoint-up(md) {
              padding:0;
            }

            &.featured {

              > div.icon {
                box-shadow:none;
              }

            }

          }

          a {
            color:$black;
            span {
              display: inline-block;
              text-align: left;
              padding-left: 15px;
            }

            @include media-breakpoint-up(md) {
              padding:15px 20px;

              &:hover {
                background:#F0FBFD;
              }

            }

          }

          .menu-item-description {
            font-weight:$font-weight-light;
            color:$type-grey;
            font-size:$font-size-sm;
          }

          @include media-breakpoint-up(md) {
            position:absolute;
          }

        }


        li {
          display: block;
          width: 100%;
          margin: 10px 0;
          font-weight:$font-weight-bold;
          position:relative;

          &.active {
            .sub-menu {
              display:block;

              &.solutions {
                @include flexbox();
              }
            }
          }

          &.solutions .sub-menu {
            padding:0;

            .dropdown {
              display:none;
            }

            li ul li {
              padding: 10px;
              font-weight: 200;
              font-size: 0.9rem;
            }

          }

          &.solutions > .sub-menu {
            border-radius: 6px;

            @include media-breakpoint-up(md) {
              @include flex-flow(row);
            }

            > li {
              border-bottom: 1px solid #C9C9C9;

              > a:first-child {
                min-height: 40px;
                display: block;
                line-height: 40px;
                padding: 10px;
              }

            }

          }

          div.icon {
            width: 40px;
            height: 40px;

            img {
              width: 40px;
              height: 40px;
            }

          }


          @include media-breakpoint-up(md) {
            width:auto;
            height:100%;
            margin:0;

            &:hover {

              .sub-menu {
                visibility: visible;
                opacity: 1;
                display: block;
                visibility: visible;
                transition-delay: 0s;
              }

            }

            &:focus-within {

              .sub-menu {
                visibility: visible;
                opacity: 1;
                display: block;
                visibility: visible;
                transition-delay: 0s;
              }
            }

            &.solutions {

              .sub-menu {
                overflow: inherit;
                @include flexbox();
                padding: 15px;
                @include justify-content(space-between);
                min-width: 570px;
                background:white;

                li {
                  margin: 0;
                  border:none;

                  a {
                    position:relative;
                    @include flexbox();
                    @include flex-direction(column);
                    @include align-items(flex-start);
                    @include justify-content(center);
                    border-radius:6px;
                  }

                  div.icon {
                    position: absolute;
                    left: 10px;
                  }

                  &:first-child {
                    border-radius: 6px 0 0 6px;
                  }

                  &:last-child {
                    border-radius: 0 6px 6px 0;
                  }

                  ul {
                    margin:0;
                  }

                }

                .dropdown {
                  display:none;
                }


                ul.sub-menu {
                  padding:0;
                  min-width: inherit;
                  @include flex-flow(column);

                  li {
                    width:100%;
                    padding:0;
                    background:white;
                  }

                }

              }

              &:hover {

                .sub-menu {
                  @include flexbox();
                }

              }

              &:focus-within {
                cursor: pointer;

                .sub-menu {
                  @include flexbox();
                }
              }

              > ul > li > a:first-child {
                min-height: 40px;
                @include justify-content(center);
                padding-left:40px;
                line-height:normal;

                span {
                  padding-left: 55px;
                }

              }

            }

            &.wp-block-button {
              @include flexbox();
              height:auto;

              a {
                height:auto;
              }

            }

          }

          a {
            color:white;
            &:hover {
              text-decoration:none;
            }

            @include media-breakpoint-up(md) {
              color:$black;
              @include flexbox();
              @include align-items(center);
              height: 100%;
            }

          }

          &.wp-block-button.is-style-outline a,&.wp-block-button.is-style-green a {
            padding: 5px 15px;

            @include media-breakpoint-up(lg) {
              padding: 10px 30px;
            }

          }

          .dropdown {
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            width:25px;
            height:25px;
            position:absolute;
            top:0;
            right:0;
            color:white;
            cursor:pointer;

            &:before {
              content: '';
              display: block;
              width: 12px;
              height: 12px;
              background: url('img/icons/chevron-white.svg');
              background-repeat: no-repeat;
              background-size: contain;

              @include media-breakpoint-up(md) {
                background: url('img/icons/chevron.svg');
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                top: 3px;
                right: -4px;
              }

            }

            @include media-breakpoint-up(md) {
              top: 7px;
              right:-25px;
            }

            @include media-breakpoint-up(lg) {
              top: 35px;
            }

          }

        }

      }

    }

  }

}
