.page-template-orange {

  #banner {
    @include linearGradient(#F5A623, #E08B00);
  }

  #circles {

    span {

      &:first-child {
        background:#FCE7BE;
      }

      &:nth-child(2) {
        background:#FCE7BE;
        opacity:0.1;
      }

      &:nth-child(3) {
        background:#FCE7BE;
        opacity:0.1;
      }

      &:nth-child(5) {
        background:#FCE7BE;
      }

    }

  }

}
