#container {

.comparison {
  text-align:center;
  padding:10px;
  margin:50px auto;
}

.comparison table {
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  border-bottom:1px solid #CCC;

  tbody {
    border: 1px solid #CCC;
    background: white;
  }
}

.comparison td, .comparison th {
  border-right:1px solid #CCC;
  empty-cells: show;
  padding: 10px 15px;
}

.compare-heading {
  font-size: 16px;
  font-weight:bold !important;
  border-bottom:1px solid white;
  padding-top:10px !important;
  padding-bottom:10px !important;
}

.comparison tbody tr:nth-child(odd) {
  display:none;
}

tr.compare-row {
  &:nth-child(4n-2){
    background:#EEFAFD;
  }

  &.heading {
    background:white;
  }
  &:last-child {
    td {
      padding-bottom:10px;
    }
  }
}

.comparison th {
  font-weight:normal;
  padding:0;
  border-bottom:1px solid #fff;
  background: white;
  background:#F2F2F2;

  &:first-child {
    background:none;
  }
}

.comparison tr td:first-child {
  text-align:left;
}

.comparison .qbse, .comparison .qbo, .comparison .tl {
  color:#FFF;
  padding:10px;
  font-size:16px;
  border-right:1px solid #CCC;
  border-bottom:0;
}

.comparison .tl2 {
  border-right:0;
}

.comparison .qbse {
  @include linearGradient(#0096C4, #153061);
  border-top-left-radius: 6px;
  border-left:0px;
}

.comparison .qbo {
  @include linearGradient(#0096C4, #153061);
  border-top-right-radius: 6px;
  border-right:0px;
}


@media (max-width: 639px) {
  .comparison td, .comparison th {
    padding:10px 5px;
  }
  .comparison .hide-mobile {
    display:none;
  }
  .comparison .qbse, .comparison .qbo {
    font-size:12px;
    padding:10px 5px;
  }
  .compare-heading {
  font-size:13px;
}
}


tbody > tr:nth-child(2) > td:first-child {
  border-top:1px solid #CCC;
}

.compare-row {

  &.heading, {
    td {
      font-weight:bold;
      font-size: 18px;
    }
    td:after {
      display:none;
    }
  }

  td {
    position:relative;

    &:after {
      content:'';
      display:block;
      width:26px;
      height:26px;
      background: url('img/icons/check.svg');
      background-repeat: no-repeat;
      background-size: contain;
      margin: 0 auto;
    }

    &:before {
      content:'';
      display:block;
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      border:15px solid white;
      border-top:0;
      border-bottom:0;
    }

    &:first-child:after,&.data:after,&.no-check:after{
      display:none;
    }

    &:first-child {
      background:white;
      &:before {
        border:none;
        border-right:15px solid white;
        border-left:15px solid white;
      }
    }

  }

  &.section-title {
    td span {
      background:yellow;
    }
  }

}

tfoot {
  background:#071C41;
  color:white;
}


@media (max-width: 767px) {
  .comparison td:first-child, .comparison th:first-child {
    display: none;
  }
  .comparison tbody tr:nth-child(odd) {
    display:table-row;
    background:white;
  }
  tr.compare-row:nth-child(4n-2) {
    background: white;
  }
  tr.heading {
    font-weight: bold;
  }
  .compare-row td:before {
    border:none;
  }
  .comparison .row {
    background:#FFF;
  }
  .comparison td, .comparison th {
    border:none;
    border-top:1px solid #CCC;
  }
  .compare-row td {
    border:none;
  }
  .compare-row.heading {
    td {
      border:none;
      display: none;
    }
  }

}

}
