.page-template-purple {

  #banner {
    @include linearGradient(#C86DD7, #3023AE);
  }

  #circles {

    span {

      &:first-child {
        background:#DBBEFF;
      }

      &:nth-child(2) {
        background:#DBBEFF;
        opacity:0.1;
      }

      &:nth-child(3) {
        background:#DBBEFF;
        opacity:0.1;
      }

      &:nth-child(5) {
        background:#DBBEFF;
      }

    }

  }

}
