.page-template-resources,body.category {

  #circles {
    display:none;
  }

  #banner {
    padding-bottom:120px;

    .post-edit-link {
      color:white;
    }

  }

  #category-filters {
    text-align: center;
    margin-top:-70px;
    margin-bottom: 50px;

    div {
      display: inline-block;
      background: white;
      padding:27px;
      border-radius:6px;
      box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    }

    h6 {
      color:$type-grey;
      margin-bottom:25px;
      text-transform:uppercase;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style:none;
        display:inline-block;
        margin:5px;

        @include media-breakpoint-up(md) {
          margin:0 5px;
        }

        &.cat-item-12 {
          display:none;
        }

        a {
          display: block;
          border:2px solid #D7E1E9;
          padding: 10px 20px;
          border-radius: 30px;
          color:$blue;
          background:white;

          &:hover,&:active,&:focus {
        		text-decoration: none;
            color:$blue;
            border-color: darken( #D7E1E9, 10% );
        	}

        }

        &.active {
          a {
            background:$blue;
            border-color:$blue;
            color:white;
          }
        }

      }

    }

  }

}

#posts {
  padding:0 15px;
  margin-bottom:50px;

  @include media-breakpoint-up(md) {
    @include flexbox();
    @include flex-wrap(wrap);
    padding:0;
  }

  li {
    width:100%;
    list-style:none;
    margin-bottom:30px;

    @include media-breakpoint-up(md) {
      @include flex(0 0 50%);
      margin-bottom:0;
    }

    @include media-breakpoint-up(lg) {
      @include flex(0 0 33.33%);
    }

    > div {
      box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
      border-radius:6px;
      background:white;
      overflow:hidden;

      @include media-breakpoint-up(md) {
        margin:15px;
        height: calc(100% - 40px);
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-between);
      }

      @include media-breakpoint-up(lg) {
        margin:20px;
      }

    }

    header {
      height: 200px;
      padding:15px 10px;
      position:relative;
      overflow: hidden;
      @include linearGradient(#0096C4, #153061);

      a.link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;

        &:before {
          content:'';
          display:block;
          width:100%;
          height:100%;
          position:absolute;
          top:0;
          left:0;
          z-index: 1;
          @include linearGradient(#0096C4, #153061);
          opacity: 0.5;
        }

      }

      img {
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        object-fit: cover;
      }


    }

    .tags {
      position: absolute;
      z-index: 1;
      right: 10px;
    }

    .post-content {
      padding:30px;

      @include media-breakpoint-up(md) {
          flex-grow: 1;
      }

      h4 {
        margin-bottom: 20px;

        a {color:$black;}
      }

    }

    .entry {
      p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 4.2rem;
      }
    }

    footer {
      background:#F7F9FA;

      a {
        width: 100%;
        background: none;
        padding: 20px 30px;
        text-align: left;
      }

    }

  }

}

.tags {
  a {
    background:$mint-green;
    color: #005340;
    border-radius: 20px;
    padding: 6px 10px;
    font-size: 0.9rem;
    margin-left: 5px;
  }
}

.author {
  margin:10px 0 0;
  a {
    color:#939393;
  }
}

.meta span {
  font-size: 12px;
  color: #ccc;
  margin-left: 40px;
  line-height: 4px;
  display: block;
}

.avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-right: 5px;
  border:1px solid white;
}
