/*
Theme Name: Carbon
*/

@font-face {
    font-family: 'Circular Pro';
    src: url('font/CircularPro-Medium.woff2') format('woff2'),
        url('font/CircularPro-Medium.woff') format('woff');
    font-weight: 500;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Pro';
    src: url('font/CircularPro-BlackItalic.woff2') format('woff2'),
        url('font/CircularPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-display: auto;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Pro';
    src: url('font/CircularPro-Black.woff2') format('woff2'),
        url('font/CircularPro-Black.woff') format('woff');
    font-weight: 900;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Pro';
    src: url('font/CircularPro-MediumItalic.woff2') format('woff2'),
        url('font/CircularPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-display: auto;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Pro';
    src: url('font/CircularPro-Bold.woff2') format('woff2'),
        url('font/CircularPro-Bold.woff') format('woff');
    font-weight: bold;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Pro';
    src: url('font/CircularPro-BoldItalic.woff2') format('woff2'),
        url('font/CircularPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-display: auto;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Pro Book';
    src: url('font/CircularPro-Book.woff2') format('woff2'),
        url('font/CircularPro-Book.woff') format('woff');
    font-weight: normal;
    font-display: auto;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Pro Book';
    src: url('font/CircularPro-BookItalic.woff2') format('woff2'),
        url('font/CircularPro-BookItalic.woff') format('woff');
    font-weight: normal;
    font-display: auto;
    font-style: italic;
}
