// breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 782px,
  lg: 1200px,
  xl: 1600px
);

//  TYPOGRAPHY

$font-family-sans-serif: 'Circular Pro Book',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-pro: 'Circular Pro',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//  COLOURS

$black: #1d1d1b;
$blue:#1265A3;
$bright-blue:#2AC2DF;
$dark-blue: #153061;
$type-grey: #666666;
$green: #5F991E;
$mint-green: #50E3C2;
$border-grey: #C9C9C9;
