#container {

.background-image-block {
  margin: 30px auto;
  @include align-items(center);
  padding: 50px 0;
  position:relative;
  max-width:100%;

  @include media-breakpoint-up(md) {
    margin: 150px auto;
  }

  p {
    @include media-breakpoint-up(md) {
      font-size: 1.3rem;
    }
  }

  .wp-block-column {
    margin-bottom:0;
    z-index: 1;
  }

  .wp-block-button {
    margin-top:40px;
  }

  .wp-block-column:first-child {
    padding: 50px 0;
    max-width: 90%;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      @include flex-basis(100%);
      padding: 100px 30% 100px 0;
    }

    @include media-breakpoint-up(lg) {
      max-width:80%;
    }

    @include media-breakpoint-up(xl) {
      max-width:70%;
    }

  }


  &.has-border {
    .wp-block-column:first-child {
      border-top: 1px solid #D8D8D8;
      border-bottom: 1px solid #D8D8D8;
    }
  }

  .wp-block-column:last-child {
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 0;
    bottom:-30%;


    .wp-block-image {
      float: right;
      width: 100%;
      margin:0;
      box-shadow:none !important;
      border-radius:0 !important;

      @include media-breakpoint-up(md) {
        position:relative;
      }

      img {
        float: right;
        object-fit: cover;
        opacity: 0.4;
        max-height: 600px;

        @include media-breakpoint-up(md) {
          opacity:1;
          max-height: 100%;
          width: 80%;
        }

        @include media-breakpoint-up(lg) {
          opacity:1;
          max-height: 100%;
          object-fit: cover;
          width: initial;
        }

      }

    }

  }

}

}
