#container {

.wp-block-media-text {
  @include flexbox();
  @include flex-direction(column);
  margin: 30px;
  position: relative;
  z-index: 1;

  @include media-breakpoint-up(md) {
    @include flex-direction(row);
    margin: 50px auto;
  }

  @include media-breakpoint-up(lg) {
    margin: 80px auto;
  }

  @include media-breakpoint-up(xl) {
    margin: 100px auto;
  }

  p {
    font-size: 1.2rem;
  }

  .wp-block-button {
    margin: 40px 0 0 0;
  }

  .wp-block-media-text__content {
    padding: 0;
    @include media-breakpoint-up(md) {
      padding: 0 50px 0 0;
    }
  }

  .wp-block-media-text__media {
    border-radius: 6px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    overflow:hidden;
    width: 100%;
    margin-bottom: 40px;
    @include media-breakpoint-up(md) {
      margin-bottom:0;
    }
  }

  .wp-block-media-text__content {
    @include media-breakpoint-up(md) {
      padding: 0 0 0 50px;
      width:55%;
      @include media-breakpoint-up(lg) {
        padding: 0 0 0 100px;
      }
    }
  }

  .wp-block-media-text__media {

    @include media-breakpoint-up(md) {
      width:45%;
    }

  }

  &.has-media-on-the-right {
    @include media-breakpoint-up(md) {
      @include flex-direction(row-reverse);
    }

    .wp-block-media-text__content {
      @include media-breakpoint-up(md) {
        padding: 0 50px 0 0;
      }
      @include media-breakpoint-up(lg) {
        padding: 0 100px 0 0;
      }
    }

    .wp-block-media-text__media {
      @include media-breakpoint-up(lg) {

      }
    }

  }

  &.diagram {
    .wp-block-media-text__media {
      box-shadow:none;
      border-radius:0;
    }
  }

}

}
