.wp-block-button {

  &.is-style-arrow-link {

    .wp-block-button__link {
      border:none;
      padding:0;
    }

  }

  .wp-block-button__link {
    background-color: white;
    border:2px solid #D7E1E9;
    color:$blue;
    font-size: 1rem;

    &:after {
      content:'';
      display:inline-block;
      width:12px;
      height:12px;
      margin-left: 8px;
      background: url('img/icons/arrow.svg');
      background-size:contain;
      background-repeat:no-repeat;
      position:relative;
      top:2px;
    }

  	&:hover,&:active,&:focus {
  		text-decoration: none;
      color:$blue;
      border-color: darken( #D7E1E9, 10% );
  	}

  }

  &.is-style-green {
    .wp-block-button__link {
      background:$green;
      color:white;
      border:none;

      &:hover,&:active,&:focus {
        background:darken( $green, 5% );
      }

      &:after {
        background: url('img/icons/arrow-white.svg');
        background-size:contain;
        background-repeat:no-repeat;
      }
    }

  }

  &.is-style-outline {
    a {
      display:block;
      border:2px solid #3a5587;
      padding:10px 30px;
      border-radius:30px;
      text-align:center;

      &:hover,&:active,&:focus {
        border-color: lighten( #3a5587, 10% );
      }

      @include media-breakpoint-up(md) {
        display:inline;
        background-color: white;
        border: 2px solid #D7E1E9;

        &:hover,&:active,&:focus {
          border-color: darken( #D7E1E9, 10% );
        }

      }

    }

  }

  &.is-style-green {
    a {
      display: block;
      background-color: $green;
      border: 2px solid $green;
      padding:10px 30px;
      border-radius:30px;
      color:white !important;
      text-align:center;

      &:hover,&:active,&:focus {
        background: darken( $green, 10% );
        border-color: darken( $green, 10% );
      }

      @include media-breakpoint-up(md) {
        display:inline;
      }

    }
  }

}
