#container {

.cta-small {
  text-align: center;

  > div {
    border:1px solid $border-grey;
    border-radius:6px;
    display: inline-block;
    padding: 0 20px;
    background:white;

    @include media-breakpoint-up(md) {
      min-width: 600px;
      padding: 0 50px;
    }

  }

  h3 {
    display: inline-block;
    text-align:center;
    margin: 0 auto;
    background: white;
    position: relative;
    top: -20px;
    padding: 10px 15px;
    font-size: 1.6rem;
    border-radius:30px;

    @include media-breakpoint-up(md) {
      font-size: 2.2rem;
      padding: 10px 30px;
      top: -35px;
    }

  }

  .content {
    padding:10px 0 40px 0;

    @include media-breakpoint-up(md) {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
    }

    span {
      font-size: 1.2rem;
    }

  }

  .wp-block-button {
    margin: 30px 0 0 0;

    @include media-breakpoint-up(md) {
      margin: 0 0 0 30px;
    }

  }

}

.cta-large {
  @include linearGradient(#0096C4, #153061);
  border-radius:6px;
  margin:100px auto;
  overflow:hidden;

  @include media-breakpoint-up(md) {
    @include flexbox();
  }

  .cta-text{
    padding: 50px;
    color:white;

    @include media-breakpoint-up(md) {
      padding: 50px 100px 50px 50px;
    }

    h3 {
      margin-bottom:30px;
      font-size: 2rem;
    }

    span {
      color:#D7E6FF;
      font-size: 1.2rem;
    }

    .wp-block-button {
      margin:30px 0 0 0;

      a {
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
      }

    }

  }

  .cta-image {
    display:none;
    @include media-breakpoint-up(md) {
      display:block;
      width:100%;
      margin-top: 50px;
      position:relative;
      box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
      border-radius:6px 0px 0px 0px;
      overflow:hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        right: 0;
        object-position: top left;
      }
    }
  }

}

}
