#container {

.wp-block-columns {

  .wp-block-column {
    margin-left:0;
    margin-right:0;

    &:first-child {
      margin-left:0;
    }

    &:last-child {
      margin-right:0;
    }

    @include media-breakpoint-up(md) {
      margin-left:32px;
      margin-right:32px;
    }

    .wp-block-image {
      margin-bottom:30px;
      border-radius: 6px;
      box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
      overflow:hidden;
    }

    p {
      font-size: 1.1rem;
    }

    .wp-block-button {
      margin:30px 0;
    }

  }

  &.circles {

    .wp-block-image {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      width: 130px;
      height: 130px;
      background: white;
      margin: 0 auto;
      border-radius: 130px;
      text-align: center;
      box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
      margin-bottom:30px;
      z-index:1;

      .aligncenter {
        margin:0;
      }

      @include media-breakpoint-up(md) {

        figure:after {
          content:'';
          display:block;
          width:50px;
          height:50px;
          background: white;
          border-radius: 50px;
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
          position: absolute;
          top: 38px;
          right: -58px;
          z-index:2;
        }

        figure:before {
          content:'';
          display:block;
          width:20px;
          height:20px;
          background: url('img/icons/chevron-purple.svg');
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: 54px;
          right: -50px;
          z-index:3;
        }

      }

      img {
        width: 60px;
      }

    }

    .wp-block-column {

      position:relative;

      @include media-breakpoint-up(md) {

        &:after {
          content:'';
          display:block;
          width: 100%;
          left: 50%;
          height:5px;
          border-top: 2px dashed #D4D5D7;
          position:absolute;
          top: 64px;
          z-index:-1;
        }

        &:last-child {

          &:after {
            display:none;
            border:none;
          }

        }

      }

    }

  }

  .wp-block-column:last-child {
    margin-right:0;

    .wp-block-image figure {
      &:before,&:after {
        display:none;
      }
    }

  }

  &.solution-blocks {
    .wp-block-column {
      margin:0;
    }
    .wp-block-image {
      box-shadow:none;
      border-radius:0;
      margin-bottom:0;
    }
  }

}

@media (max-width: 781px) {

  .wp-block-columns {
      flex: 1;
      margin-bottom: 1em;
      flex-basis: 100%;
      min-width: 0;
      word-break: break-word;
      overflow-wrap: break-word;
  }

  .wp-block-column {
    flex: 1;
    margin-bottom: 1em;
    flex-basis: 100%;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
  }

}


}
