.feature-block {
  margin: 0 auto;
  position: relative;
  z-index: 1;

  @include media-breakpoint-up(md) {
    margin: 50px auto;
  }

  p {
    @include media-breakpoint-up(md) {
      font-size: 1.3rem;
    }
  }

  .capitalise {
    color:$blue;
    text-transform:uppercase;
  }

  &.left {
    @include flex-direction(column-reverse);

    @include media-breakpoint-up(md) {
      @include flex-direction(row);

      .wp-block-column:first-child {
        padding: 0 50px 0 0;
      }

    }

  }

  &.right {

    @include media-breakpoint-up(md) {

      .wp-block-column:last-child {
        padding: 0 50px;
      }

    }

  }

  .wp-block-column {
    margin-bottom:0;
    margin:0;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);

    @include media-breakpoint-up(md) {
      margin:0 30px;

      &:first-child {
        margin-left:0;
      }

      &:last-child {
        margin-right:0;
      }

    }

    h2 {
      margin-bottom: 20px;

      @include media-breakpoint-up(md) {
        margin-bottom: 30px;
      }

    }

  }

  .wp-block-image {
    border-radius:6px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;

    @include media-breakpoint-up(md) {
      margin-bottom:0;
    }

    img {
      width: 100%;
      object-fit: cover;
    }

  }

}
