#container {

.features-grid {
  padding: 50px 30px;
  margin:50px 0;
  max-width:100%;

  @include media-breakpoint-up(md) {
    margin:100px 0;
    padding: 80px 0;
  }

  > div {
    width: 100%;

    @include media-breakpoint-up(md) {
      max-width:90%;
      margin:0 auto;
    }

    @include media-breakpoint-up(lg) {
      max-width:80%;
    }

    @include media-breakpoint-up(xl) {
      max-width:70%;
    }

  }

  ul {
    padding:0;
    list-style:none;
    margin:0;

    @include media-breakpoint-up(md) {
      @include flexbox();
      @include flex-wrap(wrap);
    }

    li {
      margin-bottom:20px;

      @include media-breakpoint-up(md) {
        @include flex(0 0 50%);
        margin-bottom:30px;
      }

      @include media-breakpoint-up(lg) {
        @include flex(0 0 33.33%);
      }

      > div {
        background:white;
        border-radius: 6px;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
        padding:30px;
        text-align: center;

        @include media-breakpoint-up(md) {
          margin:15px;
          height:100%;
        }

      }

      &:last-child {
        margin-bottom:0;

        @include media-breakpoint-up(md) {
          margin-bottom:30px;
        }
      }

      .icon {
        display: block;
        width:50px;
        margin: 10px auto 30px auto;

        img {
          width:100%;
        }

      }

      .content {
        width: 100%;
      }

      .wp-block-button {
        margin-bottom: 0;
      }

    }

  }

}

}
