// Contact forms

#container .wpforms-container,#container .wpforms-confirmation-container-full {
  position: relative;
  z-index: 1;
  margin: 50px auto;
  background:white;
  padding:30px;
  border:none;
  border-top: 5px solid #2AC2DF;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
  overflow: overlay;

  @include media-breakpoint-up(md) {
    margin-top: 100px;
    padding: 50px;
    min-height: 560px;
    float: right;
    width: 45%;
    margin: 0;
    margin-right:5%;
  }

  @include media-breakpoint-up(lg) {
    width: 45%;
    margin-right:10%;
  }

  @include media-breakpoint-up(xl) {
    width: 45%;
    margin-right:15%;
  }

  .wpforms-title {
    font-family:$font-family-pro;
    font-size: 1.75rem;
  }

  input,select,textarea {
    max-width:100%;
    border-radius: 6px;
  }

  .wpforms-field-name,.wpforms-field-number {

    width: 100%;

    @include media-breakpoint-up(md) {
      width: 50%;
      float: left;
      clear: none;
    }

    input {
      max-width:100%;
    }

  }

  @include media-breakpoint-up(md) {

    .wpforms-field-name {
      padding-right: 20px;
    }

    .wpforms-field-number {
      padding-leftt: 20px;
    }

  }

  .wpforms-submit {
    background:$green;
    border:none;
    color:white;
    border-radius: 30px;
    padding: 10px 20px;
    float:right;
    margin-top:10px;

    &:hover,&:active,&:focus {
      background:darken( $green, 5% );
    }

    &:after {
      content:'';
      display:inline-block;
      width:12px;
      height:12px;
      margin-left:8px;
      position:relative;
      top:2px;
      background: url('img/icons/arrow-white.svg');
      background-size:contain;
      background-repeat:no-repeat;
    }

  }

}


#container #article-content .wpforms-container,#container #article-content .wpforms-confirmation-container-full {
  margin: 50px 0 0 0;
  float:none;

  @include media-breakpoint-up(md) {
    min-height: auto;
    max-width: 800px;
    margin: 100px auto 0 auto;
    width:100%;
  }

}

.page-template-landing-page {

  #container .wpforms-container .wpforms-field-name, #container .wpforms-container .wpforms-field-number, #container .wpforms-confirmation-container-full .wpforms-field-name, #container .wpforms-confirmation-container-full .wpforms-field-number {
    padding: 10px 0;
    width:100%;
  }
}
