.logos {
  margin: 0;

  ul {
    padding:0;
    list-style:none;
    margin:0;
    text-align:center;

    @include media-breakpoint-up(md) {
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
    }

    li {
      display:inline-block;
      max-width:100px;
      margin:20px;

      @include media-breakpoint-up(md) {
        margin:0;
      }

      img {
        width: 100%;
        max-height: 50px;
        object-fit: contain;
      }

    }

  }

}
