#container {

.products-grid {
  padding: 50px 0;
  margin-top:50px;
  max-width:100%;
  padding:30px;

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
    padding: 100px 0;
    margin-top:100px;
  }

  > div {
    width: 100%;

    @include media-breakpoint-up(md) {
      max-width:90%;
      margin:0 auto;
    }

    @include media-breakpoint-up(lg) {
      max-width:80%;
    }

    @include media-breakpoint-up(xl) {
      max-width:70%;
    }

  }

  ul {
    padding:0;
    list-style:none;
    margin:0;

    @include media-breakpoint-up(md) {
      @include flexbox();
      @include flex-wrap(wrap);

    }

    li {


      @include media-breakpoint-up(md) {
        @include flex(0 0 50%);
      }

      > div {
        background:white;
        border-radius: 6px;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
        padding:30px;
        margin-bottom:20px;
        text-align: center;

        @include media-breakpoint-up(md) {
          @include flexbox();
          text-align: left;
          margin-bottom:0;
          margin:15px;
        }
      }

      &:last-child {
        margin-bottom:0;
      }

      .icon {
        display: block;
        width:50px;
        margin: 0 auto 30px auto;

        @include media-breakpoint-up(md) {
          margin: 0 30px 0 0;
        }

        img {
          width:100%;
        }

      }

      .content {
        width: 100%;
      }

      .wp-block-button {
        margin-bottom: 0;
      }

    }

  }

}

}
