/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


#posts.carousel {
  width:100%;
  max-width: 100%;
  padding: 0;

  .slick-track {
    @include flexbox();
  }

  .slick-list {
    width:100%;
    margin:0;
  }

  .slick-slide {
    margin:0 20px;
    position:relative;
    top:0px;
    height: auto;
    @include transition(all 0.6s ease);

    @include media-breakpoint-up(md) {
      margin:0;
    }

    .entry {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    > div {
      height:100%;
    }

    li {
      height:100%;
    }

    li > div {
      @include transition(box-shadow 0.6s ease);
    }
  }

  .avatar {
    display: inline;
  }

  .slick-center {
    position:relative;
    transform: scale(1, 1);
    @include transition(all 0.6s ease);
    top:-30px;

    @include media-breakpoint-up(md) {
      top:0px;
    }

    @include media-breakpoint-up(lg) {
      top:-30px
    }

    li > div {
      box-shadow: 0 20px 15px 0px rgba(0, 0, 0, 0.10);

      @include media-breakpoint-up(md) {
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
      }

      @include media-breakpoint-up(lg) {
        box-shadow: 0 20px 15px 0px rgba(0, 0, 0, 0.10);
      }

    }

  }

  .slick-arrow {
    display: block;
    height: 100%;
    width: 50px;
    position: absolute;
    padding: 0;
    z-index: 1;
    border: none;
    background: none;
    overflow: hidden;
    font-size: 0;
    line-height: 0;

    &:hover {
      cursor:pointer;
    }

    &:focus {
      outline:none;
    }

    &.slick-prev {
      left:0;
    }
    &.slick-next {
      right:0;
    }
  }

}
