#container {

.stats {
  padding-bottom:40px;

  @include media-breakpoint-up(md) {
    max-width: 40%;
  }

  @include media-breakpoint-up(lg) {
    max-width: 30%;
  }

  .stat {
    margin-bottom: 25px;
  }

  h2 {
    font-size: 7rem;
    line-height: 7rem;
    margin-bottom:0;

    @include media-breakpoint-up(md) {
      font-size: 6rem;
      line-height: 6rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 7rem;
      line-height: 7rem;
    }

  }

  &.align-l {

    margin-left: 5%;

    @include media-breakpoint-up(md) {
      float:left;
      padding-right: 100px;
      margin-left: 5%;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 10%;
    }

    @include media-breakpoint-up(xl) {
      margin-left: 15%;
    }

  }
  &.align-r {
    margin-right: 5%;

    @include media-breakpoint-up(md) {
      float:right;
      padding-left: 100px;
      margin-left: 5%;
    }

    @include media-breakpoint-up(lg) {
      margin-right: 10%;
    }

    @include media-breakpoint-up(xl) {
      margin-right: 15%;
    }

  }

}

}
