#container {

.team {
  padding: 10px 0;

  > ul {
    width: 100%;
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
    @include flexbox();
    @include justify-content(space-evenly);
    @include align-items(flex-start);
    @include flex-flow(wrap);

    @include media-breakpoint-up(md) {
      @include flexbox();
      @include justify-content(space-evenly);
      @include align-items(flex-start);
      @include flex-flow(wrap);
    }

    li {
      display:inline-block;
      text-align:center;
      width: auto;
      min-width: 150px;
      margin-bottom:20px;

      .photo {
        display: block;
        width: 120px;
        height: 120px;
        margin: 0 auto 10px auto;
        border-radius:100px;
        overflow:hidden;
        border: 6px solid white;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);

        img {
          width:100%;
          height:100%;
          object-fit: cover;
        }
      }

      strong {
        font-size: 1.1rem;
        display:block;
      }

      span.capitalise {
        font-size: 0.8rem;
        font-weight: 600;
        margin-top: 5px;
        display: block;
        max-width: 120px;
        margin: 0 auto;
      }

    }

  }

}

}
