#container {

.timeline {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius:6px;
  padding:40px;
  border-top: 5px solid $bright-blue;
  background:white;

  ul {
    padding:0;
    list-style:none;
    margin-top:50px;

    li.timeline-item {
      @include flexbox();

      > div {
        position:relative;
        text-align:center;

        @include media-breakpoint-up(md) {
          width:50%;
          border-right: 2px dashed #D4D5D7;
          padding: 0 50px;
          text-align:left;

          h4 {
            margin-top:15px;
          }
        }

        .icon {
          @include flexbox();
          @include justify-content(center);
          @include align-items(center);
          width: 60px;
          height: 60px;
          background: white;
          border-radius: 50px;
          margin: 20px auto;
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);

          @include media-breakpoint-up(md) {
            position: absolute;
            right: -30px;
            margin:0;
          }

        }

      }


      &:nth-child(even){
        @include justify-content(flex-end);

        > div {

          @include media-breakpoint-up(md) {
            width:50%;
            border-right:none;
            border-left: 2px dashed #D4D5D7;
          }

          .icon {
            right:initial;
            left:-30px;
          }

        }

      }

      &:last-child {
        > div {

          @include media-breakpoint-up(md) {
            border:none;
          }

        }
      }

    }

  }

}

}
