#container {
  .wp-block-video {
    width: 100%;
    box-shadow: inset 0 -3px 4px 0px rgba(0, 0, 0, 0.15);

    &.alignfull {
      margin:0 auto;
    }

    video {
      width: 100%;
      height: auto;
      box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
      border-radius: 6px;
    }

    video[poster]{
    width:100%;
    object-fit:cover;
    }

  }
}
